<div class="ilt-text">
    <div class="block-header p-l-0">
        <h2>{{::vm.data.pages[0].name}} <small>{{::'REPORTS.TOP_POSTS_IN.DESCRIPTION' | translate}}</small></h2>
    </div>

    <div class="ilt-card card" style="max-width: 700px;" data-ng-repeat="post in vm.data.posts">
        <div class="ilt-card-header card-header row">
            <div class="media col-md-10">
                <div class="pull-left">
                    <a class="thumbnail m-b-0" target="_blank" data-ng-href="{{::post.page.permalink}}"><img data-ng-src="{{::post.page.photo50}}" alt=""></a>
                </div>

                <div class="media-body">
                    <h2>{{::post.page.name}}
                        <small>
                            <a target="_blank" data-ng-href="{{::post.permalink}}">{{::post.permalink}}</a>
                        </small>
                        <small>{{::post.createdAt | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</small>
                    </h2>
                </div>
            </div>
            <button data-ng-if="vm.isUserLoggedIn()"
                    style="font-size: 20px;"
                    class="btn btn-danger waves-effect col-md-1"
                    data-ng-click="vm.removePost(post)">
                <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
            </button>
        </div>

        <div class="card-body card-padding" >
            <p data-ng-bind-html="post.text | nl2br"></p>

            <iframe data-ng-src="{{::post.permalink.replace('view', 'embed') + '?muted=false&autostart=false&originalSize=false&startWithHD=false'}}" allowfullscreen="true" frameborder="0" width="640" height="640"></iframe>

            <ul class="wall-attrs clearfix list-inline list-unstyled">
                <li class="wa-stats pull-right p-r-0">
                    <span>
                        <i style="color: #597da3; font-size: 16px;" class="zmdi zmdi-comments zmdi-hc-fw"></i>
                        <strong>{{::post.commentsCount | number}}</strong>
                    </span>
                    <span>
                        <i style="color: #597da3; font-size: 16px;" class="zmdi zmdi-favorite zmdi-hc-fw"></i>
                        <strong>{{::post.likesCount | number}}</strong>
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12" paging
         page="vm.data.page"
         page-size="vm.data.pageSize"
         total="vm.data.total"
         custom-param1 = "vm.data.key"
         sref="report({id: customParam1, page: Item.value, pageSize: pageSize })">
    </div>
</div>