﻿<header class="ilt-header" data-current-skin="{{::currentSocialNetwork.skin}}">
    <nav class="ilt-menu row">
        <div class="col-md-2 text-left">

            <div class="ilt-logo p-r-10">
                <a data-ui-sref="reports({reportCategoryFilter: null, page: 1})">ILoveTop</a>
            </div>

            <div class="ilt-change-sn">
                <div class="btn-group dropdown pull-left" uib-dropdown="" style="">
                    <button type="button" class="btn btn-primary waves-effect" data-current-skin="green">coub</button>
                    <button type="button" class="btn btn-primary dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false" data-current-skin="green">
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a data-ng-click="changeSocialNetwork(socialNetwork.vk)" href=""><i class="zmdi zmdi-vk zmdi-hc-fw"></i></a></li>
                        <li><a data-ng-click="changeSocialNetwork(socialNetwork.vine)" href="">vine</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <ul class="col-md-10 text-right">
            <li class="waves-effect" data-ui-sref-active="active"><a data-ui-sref="reports({reportCategoryFilter: null, page: 1})">{{::'MENU.REPORTS' | translate}}</a></li>
            <li class="waves-effect" data-ui-sref-active="active"><a data-ui-sref="reports({reportCategoryFilter: 0, page: 1})">{{::'MENU.TOP_POSTS' | translate}}</a></li>
            <li class="waves-effect" data-ui-sref-active="active"><a data-ui-sref="reports({reportCategoryFilter: 1, page: 1})">{{::'MENU.TOP_PAGES' | translate}}</a></li>
            <li class="waves-effect" data-ui-sref-active="active"><a data-ui-sref="reports({reportCategoryFilter: 2, page: 1})">{{::'MENU.ANTI_TOP_PAGES' | translate}}</a></li>
            <li class="waves-effect" data-ui-sref-active="active"><a data-ui-sref="reports({reportCategoryFilter: 3, page: 1})">{{::'MENU.TOP_POSTS_IN' | translate}}</a></li>
            <li class="waves-effect" data-ui-sref-active="active"><a data-ui-sref="pages">{{::'MENU.PAGES' | translate}}</a></li>
        </ul>
    </nav>
</header>