﻿<div class="container c-alt ilt-container">

    <div class="row" data-ng-if="vm.sortedData[0]">
        <div class="block-header">
            <h2>{{::'REPORTS.TOP_POSTS_TITLE' | translate}} <small>{{::'REPORTS.TOP_POSTS_DESCRIPTION' | translate}}</small></h2>
        </div>

        <div class="col-md-6" data-ng-repeat="report in vm.sortedData[0]">
            <div data-ng-include="'components/reports/templates/reports-types/' + report.reportCategoryName + '.html'" include-replace></div>
        </div>
    </div>

    <div class="row" data-ng-if="vm.sortedData[1]">
        <div class="block-header">
            <h2>{{::'REPORTS.TOP_PAGES_TITLE' | translate}}</h2>
        </div>
        <div class="col-md-6" data-ng-repeat="report in vm.sortedData[1]">
            <div data-ng-include="'components/reports/templates/reports-types/' + report.reportCategoryName + '.html'" include-replace></div>
        </div>
    </div>

    <div class="row" data-ng-if="vm.sortedData[2]">
        <div class="block-header">
            <h2>{{::'REPORTS.ANTI_TOP_PAGES_TITLE' | translate}}</h2>
        </div>
        <div class="col-md-6" data-ng-repeat="report in vm.sortedData[2]">
            <div data-ng-include="'components/reports/templates/reports-types/' + report.reportCategoryName + '.html'" include-replace></div>
        </div>
    </div>

    <div class="row" data-ng-if="vm.sortedData[3]">
        <div class="block-header">
            <h2>{{::'REPORTS.TOP_POSTS_IN_TITLE' | translate}}</h2>
        </div>

        <div class="col-md-6" data-ng-repeat="report in vm.sortedData[3]">
            <div data-ng-include="'components/reports/templates/reports-types/' + report.reportCategoryName + '.html'" include-replace></div>
        </div>
    </div>

    <div paging
         page="vm.data.page"
         page-size="vm.data.pageSize"
         total="vm.data.total"
         sref="reports({page: Item.value, pageSize: pageSize })">
    </div>
</div>
