<div class="container c-alt ilt-container">
    <div class="row">
        <div class="col-md-1 text-center">
            <button socialshare
                    socialshare-provider="vk"
                    style="font-size: 20px; background-color: #597da3; color: white;"
                    class="btn waves-effect m-b-10">
                <i class="zmdi zmdi-vk zmdi-hc-fw"></i>
            </button>
            <button socialshare
                    socialshare-provider="twitter"
                    socialshare-text="{{vm.data.hashtags.join(' ')}}"
                    style="font-size: 20px; background-color: #3B94D9; color: white;"
                    class="btn waves-effect m-b-10">
                <i class="zmdi zmdi-twitter zmdi-hc-fw"></i>
            </button>
            <button
                    socialshare
                    socialshare-provider="facebook"
                    style="font-size: 20px; background-color: #3b5998; color: white;"
                    class="btn waves-effect m-b-10">
                <i class="zmdi zmdi-facebook zmdi-hc-fw"></i>
            </button>
            <button
                    socialshare
                    socialshare-provider="google"
                    style="font-size: 20px; background-color: #d32f2f; color: white; margin-left: -5px;" class="btn waves-effect">
                <i class="zmdi zmdi-google-plus zmdi-hc-fw"></i></button>
        </div>

        <div class="col-md-11">
            <div>
                <div data-current-skin="{{::currentSocialNetwork.skin}}" class="badge m-r-10" data-ng-repeat="hashtag in vm.data.hashtags">{{::hashtag}}</div>
            </div>

            <div data-ng-if="vm.data.reportCategoryName === 'top-posts'" data-ng-include="'components/' + currentSocialNetwork.name + '/reports/templates/report-types/top-posts.html'"></div>
            <div data-ng-if="vm.data.reportCategoryName === 'top-posts-in'" data-ng-include="'components/' + currentSocialNetwork.name + '/reports/templates/report-types/top-posts-in.html'"></div>

            <div data-ng-if="!(vm.data.reportCategoryName === 'top-posts' || vm.data.reportCategoryName === 'top-posts-in')" data-ng-include="'components/reports/templates/report-types/' + vm.data.reportCategoryName + '.html'"></div>
        </div>
    </div>
</div>
