<div class="col-xs-10 col-sm-6" data-ng-controller="LogInCtrl as vm">
    <div id="header-top-second"  class="clearfix">
        <div class="header-top-dropdown">
            <div class="btn-group dropdown" data-ng-if="!vm.isUserLoggedIn()">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{'USER_CONTEXT.LOGIN' | translate}}</button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                    <li>
                        <form name="form" novalidate class="login-form" data-ng-submit="vm.onSubmit(form)">
                            <div class="form-group has-feedback">
                                <label class="control-label">{{'USER_CONTEXT.USERNAME' | translate }}</label>
                                <input type="email" class="form-control" placeholder="" name="email" data-ng-model="vm.credentials.email" required>
                                <i class="fa fa-user form-control-feedback"></i>
                                <div data-ng-show="form.$submitted || form.email.$touched">
                                    <span data-ng-show="form.email.$error.required">{{'USER_CONTEXT.FAIL.REQUIRED_EMAIL' | translate }}</span>
                                    <span data-ng-show="form.email.$error.email">{{'USER_CONTEXT.FAIL.INVALID_EMAIL' | translate }}</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label">{{'USER_CONTEXT.PASSWORD' | translate }}</label>
                                <input type="password" name="password" class="form-control" placeholder="" data-ng-model="vm.credentials.password" required minlength="6">
                                <i class="fa fa-lock form-control-feedback"></i>
                                <div ng-show="form.$submitted || form.password.$touched">
                                    <span data-ng-show="form.password.$error.required">{{'USER_CONTEXT.FAIL.REQUIRED_PASSWORD' | translate }}</span>
                                    <span data-ng-show="form.password.$error.minlength">{{'USER_CONTEXT.FAIL.MINLENGTH_PASSWORD' | translate }}</span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-group btn-dark btn-sm">{{'USER_CONTEXT.LOGIN' | translate }}</button>
                        </form>
                        <div data-ng-if="vm.showInvalidUserNameOrPassword">
                            <p>{{'USER_CONTEXT.FAIL.INVALID_USERNAME_OR_PASSWORD' | translate }}</p>
                        </div>
                        <div data-ng-if="vm.showUnexpectedError">
                            <p>{{'USER_CONTEXT.FAIL.UNEXPECTED' | translate }}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn-group dropdown" data-ng-if="vm.isUserLoggedIn()">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-ng-click="vm.logout()">{{'USER_CONTEXT.LOGOUT' | translate }}</button>
            </div>
        </div>
    </div>
</div>