﻿<div class="container">
    <div class="block-header">
        <h2>Form Components</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="card">
        <div class="card-header">
            <h2>Input Groups <small>Extend form controls by adding text or buttons before, after, or on both sides of any text-based inputs.</small></h2>
        </div>

        <div class="card-body card-padding">
            <p class="c-black f-500 m-b-5">Basic Example</p>
            <small>Place one add-on or button on either side of an input. You may also place one on both sides of an input.</small>

            <br/><br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                                <input type="text" class="form-control" placeholder="Full Name">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-local-phone"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Contact Number">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Email Address">
                        </div>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Home Address">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Landscape">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-landscape"></i></span>
                    </div>

                    <br/>

                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Weather">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-sun"></i></span>
                    </div>

                    <br/>

                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Flight">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-airplane"></i></span>
                    </div>

                    <br/>

                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Location">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-my-location"></i></span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-arrow-missed"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Internet">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-globe"></i></span>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Notifications">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-plus-circle-o"></i></span>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Layers">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-layers"></i></span>
                    </div>

                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-portable-wifi"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Messages">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-dialpad"></i></span>
                    </div>
                </div>
            </div>

            <br/><br/>
            <p class="c-black f-500 m-b-5 m-t-20">Floating Labels</p>
            <small>Basic example for input groups with floating labels</small>

            <br/>
            <br/>
            <br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group fg-float">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control">
                            <label class="fg-label">Full Name</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group fg-float">
                        <div class="fg-line">
                            <input type="text" class="form-control">
                            <label class="fg-label">Location</label>
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-my-location"></i></span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group fg-float">
                        <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control">
                            <label class="fg-label">Layers</label>
                        </div>
                        <span class="input-group-addon last"><i class="zmdi zmdi-layers "></i></span>
                    </div>
                </div>
            </div>

            <br/><br/>
            <p class="c-black f-500 m-b-5 m-t-20">Different Sizes</p>
            <small>You may use the extra sizing classes to change size of the feilds.</small>

            <br/><br/>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="zmdi zmdi-sun"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control input-lg" placeholder="Weather">
                </div>
            </div>

            <br/>

            <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-sun"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Weather">
                </div>
            </div>

            <br/>

            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="zmdi zmdi-sun"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Weather">
                </div>
            </div>
        </div>

        <br/>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Input Mask <small>An inputmask helps the user with the input by ensuring a predefined format. This can be useful for dates, numerics, phone numbers etc...</small></h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>Date</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '00/00/0000'}" placeholder="eg: 23/05/2014">

                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>Time</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '00:00:00'}" placeholder="eg: 23:06:55">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>Date Time</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '00/00/0000 00:00:00'}" placeholder="eg: 00/00/0000 00:00:00">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>CEP</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '00000-000'}" placeholder="eg: 00000-000">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '000-00-0000000'}" placeholder="eg: 000-00-0000000">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>Phone with Odd</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '(00) 0000-0000'}" placeholder="eg: (00) 0000-0000">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>US Phone Number</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '(000) 000-0000'}" placeholder="eg: (000) 000-0000">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>CPF</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '000.000.000-00'}" placeholder="eg: 000.000.000-00">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>Money</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '000.000.000.000.000,00'}" placeholder="eg: 000.000.000.000.000,00">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>IP Address</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '000.000.000.000'}" placeholder="eg: 000.000.000.000">
                    </div>
                </div>

                <div class="col-sm-3 m-b-20">
                    <div class="form-group fg-line">
                        <label>Percentage</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '00000,00%'}" placeholder="eg: 00000,00%">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group fg-line">
                        <label>Credit Card</label>
                        <input type="text" class="form-control" data-input-mask="{mask: '0000 0000 0000 0000'}" placeholder="eg: 0000 0000 0000 0000">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Chosen <small>Make long, unwieldy select boxes more user friendly.</small></h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">Basic Example</p>
                    <select chosen data-placeholder="Select a country..." class="w-100">
                        <option value="United States">United States</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Aland Islands">Aland Islands</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                    </select>
                </div>

                <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">Disabled Items</p>
                    <select chosen data-placeholder="Select a country..." class="w-100">
                        <option value="United States">United States</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option disabled value="Afghanistan">Afghanistan</option>
                        <option disabled value="Aland Islands">Aland Islands</option>
                        <option value="Albania">Albania</option>
                        <option disabled value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                    </select>
                </div>

                <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">Multiple Example</p>
                    <select  chosen multiple data-placeholder="Select a country..." class="w-100">
                        <option value="United States">United States</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Aland Islands">Aland Islands</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                    </select>
                </div>

                <div class="col-sm-3 m-b-15">
                    <p class="f-500 c-black m-b-15">Option Group</p>
                    <select chosen class="w-100" data-placeholder="Your Favorite Football Team">
                        <optgroup label="NFC EAST">
                            <option>Dallas Cowboys</option>
                            <option>New York Giants</option>
                            <option>Philadelphia Eagles</option>
                            <option>Washington Redskins</option>
                        </optgroup>
                        <optgroup label="NFC NORTH">
                            <option>Chicago Bears</option>
                            <option>Detroit Lions</option>
                            <option>Green Bay Packers</option>
                            <option>Minnesota Vikings</option>
                        </optgroup>
                    </select>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Toggle Switch <small>Material Desing look alike Toggle Switches based on Radio Box.</small></h2>
        </div>

        <div class="card-body card-padding">
            <p class="f-500 c-black m-b-5">Basic Examples</p>
            <small>Default and Disabled options</small>
            <br/>
            <br/>
            <br/>

            <div class="row m-b-20">
                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch">
                        <label for="ts1" class="ts-label">Toggle Swith Default</label>
                        <input id="ts1" type="checkbox" hidden="hidden">
                        <label for="ts1" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch disabled">
                        <label for="tsd" class="ts-label">Toggle Swith Disabled</label>
                        <input id="tsd" type="checkbox" hidden="hidden" checked="checked" disabled="disabled">
                        <label for="tsd" class="ts-helper"></label>
                    </div>
                </div>
            </div>

            <p class="f-500 c-black m-b-5">Optional Color schemes</p>
            <small>Use the given data attribute to change the color scheme of the Toggle Switch</small>
            <br/>
            <br/>
            <br/>

            <div class="row">
                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="red">
                        <label for="ts2" class="ts-label">Toggle Swith Red</label>
                        <input id="ts2" type="checkbox" hidden="hidden">
                        <label for="ts2" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="blue">
                        <label for="ts3" class="ts-label">Toggle Swith Blue</label>
                        <input id="ts3" type="checkbox" hidden="hidden">
                        <label for="ts3" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="green">
                        <label for="ts4" class="ts-label">Toggle Swith Green</label>
                        <input id="ts4" type="checkbox" hidden="hidden">
                        <label for="ts4" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="cyan">
                        <label for="ts5" class="ts-label">Toggle Swith Cyan</label>
                        <input id="ts5" type="checkbox" hidden="hidden">
                        <label for="ts5" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="lime">
                        <label for="ts6" class="ts-label">Toggle Swith Lime</label>
                        <input id="ts6" type="checkbox" hidden="hidden">
                        <label for="ts6" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="amber">
                        <label for="ts7" class="ts-label">Toggle Swith Amber</label>
                        <input id="ts7" type="checkbox" hidden="hidden">
                        <label for="ts7" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="purple">
                        <label for="ts8" class="ts-label">Toggle Swith Purple</label>
                        <input id="ts8" type="checkbox" hidden="hidden">
                        <label for="ts8" class="ts-helper"></label>
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <div class="toggle-switch" data-ts-color="pink">
                        <label for="ts9" class="ts-label">Toggle Swith Pink</label>
                        <input id="ts9" type="checkbox" hidden="hidden">
                        <label for="ts9" class="ts-helper"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Input Slider <small>noUiSlider is a range slider without bloat. It offers a ton off features, and it is as small, lightweight and minimal as possible, which is great for mobile use on the many supported devices.</small></h2>
        </div>

        <div class="card-body card-padding" data-ng-controller="formCtrl as fctrl">
            <p class="f-500 c-black m-b-5">Basic Example</p>
            <small class="c-gray">Current value: {{ fctrl.nouisliderValue }}</small>
            
            <br/>
            <br/>
            
            <div slider class="input-slider" ng-model="fctrl.nouisliderValue" start=1 end=10></div> 

            <br/>
            <br/>

            <p class="f-500 c-black m-b-5">Range Slider</p>
            <small class="c-gray">Current value: {{ fctrl.nouisliderFrom }} - {{ fctrl.nouisliderTo }}</small>

            
            <br/>
            <br/>
            
            <div slider class="input-slider-range" ng-from="fctrl.nouisliderFrom" ng-to="fctrl.nouisliderTo" start=0 end=100></div>

            <br/>
            <br/>
            <br/>

            <p class="f-500 c-black m-b-5">Optional Color Schemes</p>
            <small>Use the given data attribute to change the color scheme of the Toggle Switch</small>

            <br/>
            <br/>
            <br/>

            <div slider class="input-slider m-b-25" ng-model="fctrl.nouisliderRed" start=0 end=100 data-is-color="red"></div>

            <br/>

            <div slider class="input-slider m-b-25" data-is-color="blue" ng-model="fctrl.nouisliderBlue" start=0 end=100></div>

            <br/>

            <div slider class="input-slider m-b-25" data-is-color="cyan" ng-model="fctrl.nouisliderCyan" start=0 end=100></div>

            <br/>

            <div slider class="input-slider m-b-25" data-is-color="amber" ng-model="fctrl.nouisliderAmber" start=0 end=100></div>

            <br/>

            <div slider class="input-slider m-b-25" data-is-color="green" ng-model="fctrl.nouisliderGreen" start=0 end=100></div>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Datepicker <small><a target="_blank" class="c-gray" href="http://angular-ui.github.io/bootstrap/#/datepicker">ui.bootstrap.datepicker</a></small></h2>


            <ul class="actions">
                <li uib-dropdown class="dropdown action-show">
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <div class="dropdown-menu pull-right">
                        <p class="p-20">
                            You can put anything here
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding p-t-0" data-ng-controller="DatepickerDemoCtrl">

            <p>A clean, flexible, and fully customizable date picker. User can navigate through months and years. The datepicker shows dates that come from other than the main month being displayed. These other dates are also selectable. <a href="http://angular-ui.github.io/bootstrap/#/datepicker">Read more...</a></p>

            <br/>

            <p class="f-500 c-black m-b-5">Inline Examples</p>
            <small class="c-gray">Displaying the Datepicker by default</small>

            <br/>
            <br/>

            <div class="datepicker-demo">
                <div class="dd-block">
                    <div class="date-picker">
                        <uib-datepicker show-weeks="false" ng-model="dtInline" min-date="minDate" class="dp-inline"></uib-datepicker>
                    </div>
                </div>

                <div class="dd-block">
                    <div class="date-picker dp-blue">
                        <uib-datepicker show-weeks="false" ng-model="dtInline2" min-date="minDate" class="dp-inline"></uib-datepicker>
                    </div>
                </div>

                <div class="dd-block">
                    <div class="date-picker dp-red">
                        <uib-datepicker show-weeks="false" ng-model="dtInline3" min-date="minDate" class="dp-inline"></uib-datepicker>
                    </div>
                </div>


            </div>

            <br/>
            <br/>

            <p class="f-500 c-black m-b-5">Multiple Popup Examples</p>
            <small class="c-gray">Displaying on focus</small>

            <br/>
            <br/>

            <div class="row">
                <div class="col-sm-4">

                    <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                            <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
                        </div>
                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                            <input ng-click="open($event, 'opened2')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup2" is-open="opened2" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
                        </div>
                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="date-picker input-group dp-red" ng-class="{ 'is-opened': opened3 == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened3 == true }">
                            <input ng-click="open($event, 'opened3')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup3" is-open="opened3" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
                        </div>
                    </div>

                </div>

            </div>

            <br/>
            <br/>

            <p class="f-500 c-black m-b-5">Other Examples</p>
            <small class="c-gray">Dropup, Month and Year Pickers</small>

            <br/>
            <br/>

            <div class="row">
                <div class="col-sm-4">

                    <div class="date-picker input-group dropup" ng-class="{ 'is-opened': opened4 == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened4 == true }">
                            <input ng-click="open($event, 'opened4')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtUp" is-open="opened4" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="This is a dropup" />
                        </div>
                    </div>

                </div>

               
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Color Picker <small>Simplt HEX and HSL color picker with customizable options</small></h2>
        </div>

        <div class="card-body card-padding" data-ng-controller="formCtrl as fctrl">
            <div class="row">
                <div class="col-sm-6">
                    
                    
                    
                    <div class="cp-container">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-invert-colors"></i></span>
                            <div class="fg-line dropdown" uib-dropdown>
                                <input type="text" class="form-control cp-value" ng-model="fctrl.color" uib-dropdown-toggle>

                                <div class="dropdown-menu">
                                    <ng-farbtastic ng-model="fctrl.color"></ng-farbtastic>
                                </div>

                                <i class="cp-value" style="background-color: {{ fctrl.color }}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="cp-container">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-invert-colors"></i></span>
                            <div class="fg-line dropdown" uib-dropdown>
                                <input type="text" class="form-control cp-value" ng-model="fctrl.color2" uib-dropdown-toggle>

                                <div class="dropdown-menu">
                                    <ng-farbtastic ng-model="fctrl.color2"></ng-farbtastic>
                                </div>

                                <i class="cp-value" style="background-color: {{ fctrl.color2 }}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="cp-container">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-invert-colors"></i></span>
                            <div class="fg-line dropdown" uib-dropdown>
                                <input type="text" class="form-control cp-value" ng-model="fctrl.color3" uib-dropdown-toggle>

                                <div class="dropdown-menu">
                                    <ng-farbtastic ng-model="fctrl.color3"></ng-farbtastic>
                                </div>

                                <i class="cp-value" style="background-color: {{ fctrl.color3 }}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="cp-container">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-invert-colors"></i></span>
                            <div class="fg-line dropdown" uib-dropdown>
                                <input type="text" class="form-control cp-value" ng-model="fctrl.color4" uib-dropdown-toggle>

                                <div class="dropdown-menu">
                                    <ng-farbtastic ng-model="fctrl.color4"></ng-farbtastic>
                                </div>

                                <i class="cp-value" style="background-color: {{ fctrl.color4 }}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <br/>
            </div>
        </div>
    </div>

    
    <div class="card">
        <div class="card-header">
            <h2>Simple File Input <small>The file input plugin allows you to create a visually appealing file or image input widgets</small></h2>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-4">
                    <p class="f-500 c-black m-b-20">Basic Example</p>

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-primary btn-file m-r-10">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="...">
                        </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>
                </div>
            </div>

            <br/>
            <br/>

            <p class="f-500 c-black m-b-20">Image Preview</p>

            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                <div>
                    <span class="btn btn-info btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="...">
                    </span>
                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>

            <br/>
            <br/>
            <p><em>Image preview only works in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older browsers the filename is shown instead.</em></p>
        </div>
    </div>

</div>
