﻿<div class="container invoice">

    <div class="block-header">
        <h2>Invoice <small>Print ready simple and sleek invoice template. Please use Google Chrome or any other Webkit browsers for better printing.</small></h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    
    <div class="card">
        <div class="card-header ch-alt text-center">
            <img class="i-logo" src="img/demo/invoice-logo.png" alt="">
        </div>
        
        <div class="card-body card-padding">
            <div class="row m-b-25">
                <div class="col-xs-6">
                    <div class="text-right">
                        <p class="c-gray">Invoice from</p>
                        
                        <h4>David Designs LLC</h4>
                        
                        <span class="text-muted">
                            <address>
                                44, Qube Towers
                                Dubai Media City, Dubai<br>
                                United Arab Emirates
                            </address>

                            0097154686384<br/>
                            david.atom@ddesign.com
                        </span>
                    </div>
                </div>
                
                <div class="col-xs-6">
                    <div class="i-to">
                        <p class="c-gray">Invoice to</p>
                        
                        <h4>Mallinda Hollaway</h4>
                        
                        <span class="text-muted">
                            <address>
                                10098 ABC Towers
                                Dubai Silicon Oasis, Dubai<br>
                                United Arab Emirates.
                            </address>

                            00971123456789<br/>
                            malinda.h@gmail.com
                        </span>
                    </div>
                </div>
                
            </div>
            
            <div class="clearfix"></div>
            
            <div class="row m-t-25 p-0 m-b-25">
                <div class="col-xs-3">
                    <div class="bgm-amber brd-2 p-15">
                        <div class="c-white m-b-5">Invoice#</div>
                        <h2 class="m-0 c-white f-300">456213</h2>
                    </div>
                </div>
                
                <div class="col-xs-3">
                    <div class="bgm-blue brd-2 p-15">
                        <div class="c-white m-b-5">Date</div>
                        <h2 class="m-0 c-white f-300">20/06/2015</h2>
                    </div>
                </div>
                
                <div class="col-xs-3">
                    <div class="bgm-green brd-2 p-15">
                        <div class="c-white m-b-5">Whatever</div>
                        <h2 class="m-0 c-white f-300">472-000</h2>
                    </div>
                </div>
                
                <div class="col-xs-3">
                    <div class="bgm-red brd-2 p-15">
                        <div class="c-white m-b-5">Grand Total</div>
                        <h2 class="m-0 c-white f-300">$23,980</h2>
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <table class="table i-table m-t-25 m-b-25">
                <thead class="text-uppercase">
                    <th class="c-gray">ITEM DESCRIPTION</th>
                    <th class="c-gray">UNIT PRICE</th>
                    <th class="c-gray">QUANTITY</th>
                    <th class="highlight">TOTAL</th>
                </thead>
                
                <tbody>
                    <thead>
                        <tr>
                            <td width="50%">
                                <h5 class="text-uppercase f-400">Curabitur lobortis</h5>
                                <p class="text-muted">Nullam consectetur dolor nec ullamcorper finibus. Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi tristique</p>
                            </td>
                            
                            <td>$450.00</td>
                            <td>05</td>
                            <td class="highlight">$2250.00</td>
                        </tr>
                        
                        <tr>
                            <td>
                                <h5 class="text-uppercase f-400">Phasellus idarcu suscipit nun</h5>
                                <p class="text-muted">Pellentesque habitant morbi tristique senectus</p>
                            </td>
                            <td>$20.00</td>
                            <td>02</td>
                            <td class="highlight">$40.00</td>
                        </tr>
                        
                        <tr>
                            <td>
                                <h5 class="text-uppercase f-400">Vivamus</h5>
                                <p class="text-muted">Maecenas nec faucibus lectus. Ut cursus elit ante, rutrum pretium augue tincidunt ut. Suspendisse ultrices sapien sit amet</p>
                            </td>
                            <td>$2322.00</td>
                            <td>01</td>
                            <td class="highlight">$2322.00</td>
                        </tr>
                        
                        <tr>
                            <td>
                                <h5 class="text-uppercase f-400">Nullam consectetur dolor</h5>
                                <p class="text-muted">Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi</p>
                            </td>
                            <td>$1290.00</td>
                            <td>12</td>
                            <td class="highlight">$15,480.00</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td class="highlight">$20,092.00</td>
                        </tr>
                    </thead> 
                </tbody>
            </table>
            
            <div class="clearfix"></div>
            
            <div class="p-25">
                <h4 class="c-green f-400">REMARKS</h4>
                <p class="c-gray">Ornare non tortor. Nam quis ipsum vitae dolor porttitor interdum. Curabitur faucibus erat vel ante fermentum lacinia. Integer porttitor laoreet suscipit. Sed cursus cursus massa ut pellentesque. Phasellus vehicula dictum arcu, eu interdum massa bibendum.</p>
                
                <br/>
                
                <h4 class="c-green f-400">MERCY FOR YOUR BUSINESS</h4>
                <p class="c-gray">Proin ac iaculis metus. Etiam nisi nulla, fermentum blandit consectetur sed, ornare non tortor. Nam quis ipsum vitae dolor porttitor interdum. Curabitur faucibus erat vel ante fermentum lacinia. Integer porttitor laoreet suscipit. Sed cursus cursus massa ut pellentesque. Phasellus vehicula dictum arcu, eu interdum massa bibendum sit amet.</p>
            </div>
        </div>
        
        <footer class="m-t-15 p-20">
            <ul class="list-inline text-center list-unstyled">
                <li class="m-l-5 m-r-5"><small>support@company.com</small></li>
                <li class="m-l-5 m-r-5"><small>00971 452 9900</small></li>
                <li class="m-l-5 m-r-5"><small>www.company.com</small></li>
            </ul>
        </footer>
    </div>
    
</div>

<button class="btn btn-float bgm-red m-btn" print><i class="zmdi zmdi-print"></i></button>
