﻿<div class="container c-alt">

    <div class="text-center">
        <h2 class="f-400">PAYMENT MADE SIMPLE</h2>
        <p class="c-gray m-t-20 m-b-20">Cras pretium elementum lacus ac auctor. Sed id mi nec ex placerat iaculis. Suspendisse volutpat purus ac metus venenatis rutrum. Morbi sit amet dui in nisi lacinia varius. Aliquam vehicula molestie sagittis. Cras a lectus nulla. Nulla accumsan volutpat nibh at tristique. Aenean varius massa a euismod posuere. Sed at ante imperdiet, fermentum purus at, aliquam nulla. Mauris blandit elit ac ipsum fermentum, vitae consequat velit vestibulum. Vivamus convallis fermentum nunc et varius.</p>
    </div>

    <div class="clearfix"></div>

    <div class="row m-t-25">
        <div class="col-sm-4">
            <div class="card pt-inner">
                <div class="pti-header bgm-amber">
                    <h2>$25 <small>| mo</small></h2>
                    <div class="ptih-title">Banana Pack</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                        Pellentesque habitant morbi tristique senectus et netusmalesuada fames ac turpis egestas. Suspendisse maximus imperdiet tristique.
                    </div>
                    <div class="ptib-item">
                        In dapibus ipsum sit amet leo
                    </div>
                    <div class="ptib-item">
                        Vestibulum ut mauris tellus. Donec
                    </div>
                    <div class="ptib-item">
                        Purna lectus venenatis felis, nonsemper
                    </div>
                    <div class="ptib-item">
                        Aliquam erat volutpat hasellus ultri
                    </div>
                </div>

                <div class="pti-footer">
                    <a href="" class="bgm-amber"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card pt-inner">
                <div class="pti-header bgm-green">
                    <h2>$65 <small>| mo</small></h2>
                    <div class="ptih-title">Banana Pack</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                        Nullam diam dolor, sollicitudin vitae magna ut, pharetra tempor velit. Donec quis egestas nisl, id porta mi. Phasellus eleifend facilisis
                    </div>
                    <div class="ptib-item">
                        Ina enim liberosed whens
                    </div>
                    <div class="ptib-item">
                        Sipsum maunich lendilwer
                    </div>
                    <div class="ptib-item">
                        Dacider mengthu ferine looking seth
                    </div>
                    <div class="ptib-item">
                        Sinnab wanliset wareder thenli
                    </div>
                </div>

                <div class="pti-footer">
                    <a href="" class="bgm-green"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card pt-inner">
                <div class="pti-header bgm-cyan">
                    <h2>$660 <small>| mo</small></h2>
                    <div class="ptih-title">Banana Pack</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris iaculis laoreet mattis piuminer lasethol and envy
                    </div>
                    <div class="ptib-item">
                        Maricial wendys boraoand denish
                    </div>
                    <div class="ptib-item">
                        Manchil vallao whengoo
                    </div>
                    <div class="ptib-item">
                        Shaeel ipsum leeshan
                    </div>
                    <div class="ptib-item">
                        Hasellus ultrices tincidunt
                    </div>
                </div>

                <div class="pti-footer">
                    <a href="" class="bgm-cyan"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
