﻿<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="MainCtrl as mctrl">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="twitter:card"           content="summary" />
    <meta name="twitter:site"           content=@("@ilovetop_net")" />
    <meta name="twitter:title"          content="{{metatags.title}}" />
    <meta name="twitter:description"    content="{{metatags.description}}" />
    <meta name="twitter:image"          content="{{metatags.image}}" data-ng-if="metatags.image" />

    <meta property="fb:app_id"          content="766427000131603" />
    <meta property="og:title"           content="{{metatags.title}}" />
    <meta property="og:image"           content="{{metatags.image}}" data-ng-if="metatags.image" />
    <meta property="og:description"     content="{{metatags.description}}" />
    <meta property="og:site_name"       content="ILoveTop">
    <meta property="og:type"            content="article" >

    <meta name="title" content="{{metatags.title}}" />
    <meta name="description" content="{{metatags.description}}" />
    <link rel="image_src" href="{{metatags.image}}" data-ng-if="metatags.image" />

    <title data-ng-bind="metatags.title">ILoveTop</title>
    <!-- build:css -->
    <!-- endbuild -->
</head>
<body class="ilt-text">

<div data-ng-if="currentSocialNetwork.id === socialNetwork.vk" data-ng-include="'components/vk/shared/templates/header.html'" include-replace></div>
<div data-ng-if="currentSocialNetwork.id === socialNetwork.coub" data-ng-include="'components/coub/shared/templates/header.html'" include-replace></div>
<div data-ng-if="currentSocialNetwork.id === socialNetwork.vine" data-ng-include="'components/vine/shared/templates/header.html'" include-replace></div>

<div data-ui-view></div>

<div data-ng-include="'components/shared/templates/footer.html'" include-replace></div>

    <!-- build:js -->
    <!-- endbuild -->
    <!-- build:templates -->
    <!-- endbuild -->

</body>
</html>
