<div class="ilt-card picture-list">
    <div class="ilt-card-header ch-alt clearfix">
        <div class="media">
            <div class="pull-left">
                <a class="thumbnail m-b-0" ui-sref="report({id: report.key})">
                    <img data-ng-src="{{::report.photo50}}" alt="">
                </a>
            </div>

            <div class="media-body">
                <h2 class="f-500 pull-right">{{::'REPORTS.ANTI_TOP' | translate}}
                    <strong>{{::report.total}}</strong>
                    <small>{{::'REPORTS.PAGES' | translate}}</small>
                </h2>
                <h2>
                    <a data-current-text-skin="{{::currentSocialNetwork.skin}}" ui-sref="report({id: report.key})">{{::'REPORTS.' + vm.getTranslateKey(report.key) + '.TITLE' | translate }}</a>
                    <small>{{::'REPORTS.UPDATED' | translate }} {{::report.createdAt | amDateFormat:'DD MMMM'}}</small>
                </h2>
            </div>
        </div>
        <div class="pull-right">
            <div data-current-skin="{{::currentSocialNetwork.skin}}" class="badge m-l-10" data-ng-repeat="hashtag in report.hashtags">{{::hashtag}}</div>
        </div>
    </div>

    <div class="pl-body">
        <div uib-popover-template="'components/reports/templates/reports-types/page-info-popover.html'" popover-trigger="mouseenter" popover-placement="left" class="col-xs-3" data-ng-repeat="page in report.pages">
            <a class="thumbnail m-b-0" ui-sref="report({id: 'top-posts-in-' + page.id})">
                <img data-ng-src="{{::page.photo200}}" alt="">
                <div class="ilt-info">
                    <h3>{{::page.name}}</h3>
                </div>
            </a>
        </div>
    </div>
</div>