<div class="ilt-page-popover">
    <p class="p-b-10">{{::page.screenName}}</p>
    <img class="thumbnail" data-ng-src="{{::page.photo200}}" alt="">
    <p>
        <i data-current-text-skin="{{::currentSocialNetwork.skin}}" class="zmdi zmdi-male-female zmdi-hc-fw"></i>
        <strong>{{::page.followers.count | number}}</strong>
    </p>
    <p class="p-l-15" data-ng-if="::page.followers.dayChanges">{{::'REPORTS.DAY_CHANGES' | translate}}:
        <strong data-ng-if="page.followers.dayChanges < 0" class="c-red">{{::page.followers.dayChanges | number}}</strong>
        <strong data-ng-if="page.followers.dayChanges > 0" class="c-green">+{{::page.followers.dayChanges | number}}</strong>
    </p>
    <p class="p-l-15" data-ng-if="::page.followers.weekChanges">{{::'REPORTS.WEEK_CHANGES' | translate}}:
        <strong data-ng-if="page.followers.weekChanges < 0" class="c-red">{{::page.followers.weekChanges | number}}</strong>
        <strong data-ng-if="page.followers.weekChanges > 0" class="c-green">+{{::page.followers.weekChanges | number}}</strong>
    </p>
    <p class="p-l-15" data-ng-if="::page.followers.monthChanges">{{::'REPORTS.MONTH_CHANGES' | translate}}:
        <strong data-ng-if="page.followers.monthChanges < 0" class="c-red">{{::page.followers.monthChanges | number}}</strong>
        <strong data-ng-if="page.followers.monthChanges > 0" class="c-green">+{{::page.followers.monthChanges | number}}</strong>
    </p>

    <p>
        <i data-current-text-skin="{{::currentSocialNetwork.skin}}" class="zmdi zmdi-favorite zmdi-hc-fw"></i>
        <strong>{{::page.likes.count | number}}</strong>
    </p>
    <p class="p-l-15" data-ng-if="::page.likes.dayChanges">{{::'REPORTS.DAY_CHANGES' | translate}}:
        <strong data-ng-if="page.likes.dayChanges < 0" class="c-red">{{::page.likes.dayChanges | number}}</strong>
        <strong data-ng-if="page.likes.dayChanges > 0" class="c-green">+{{::page.likes.dayChanges | number}}</strong>
    </p>
    <p class="p-l-15" data-ng-if="::page.likes.weekChanges">{{::'REPORTS.WEEK_CHANGES' | translate}}:
        <strong data-ng-if="page.likes.weekChanges < 0" class="c-red">{{::page.likes.weekChanges | number}}</strong>
        <strong data-ng-if="page.likes.weekChanges > 0" class="c-green">+{{::page.likes.weekChanges | number}}</strong>
    </p>
    <p class="p-l-15" data-ng-if="::page.likes.monthChanges">{{::'REPORTS.MONTH_CHANGES' | translate}}:
        <strong data-ng-if="page.likes.monthChanges < 0" class="c-red">{{::page.likes.monthChanges | number}}</strong>
        <strong data-ng-if="page.likes.monthChanges > 0" class="c-green">+{{::page.likes.monthChanges | number}}</strong>
    </p>
</div>