<div class="ilt-post-popover">
    <p class="p-b-10">{{::post.text}}</p>
    <img class="thumbnail" data-ng-src="{{::post.photo604}}" alt="">
    <p class="text-center">
        <i data-current-text-skin="{{::currentSocialNetwork.skin}}" class="zmdi zmdi-favorite zmdi-hc-fw"></i>
        <strong class="m-r-10">{{::post.likesCount | number}}</strong>
        <span data-current-text-skin="{{::currentSocialNetwork.skin}}">{{::'REPORTS.REPOSTS' | translate}}:</span>
        <strong>{{::post.repostsCount | number}}</strong>
    </p>
</div>