<div class="ilt-card picture-list">
    <div class="ilt-card-header ch-alt clearfix">
        <div class="media">
            <div class="pull-left">
                <a class="thumbnail m-b-0" data-ui-sref="report({id: report.key})">
                    <img data-ng-src="{{::report.photo50}}" alt="">
                </a>
            </div>

            <div class="media-body">
                <h2 class="f-500 pull-right">
                    {{::'REPORTS.TOP' | translate}}
                    <strong>{{::report.total}}</strong>
                    <small>{{::'REPORTS.POSTS' | translate}}</small>
                </h2>
                <h2>
                    <a data-current-text-skin="{{::currentSocialNetwork.skin}}"  data-ui-sref="report({id: report.key})">{{::'REPORTS.' + vm.getTranslateKey(report.key) + '.TITLE' | translate }}</a>
                    <small>{{::'REPORTS.FOR' | translate }} {{::report.periodStart | amDateFormat:'DD MMMM'}} <span data-ng-if="::report.periodStart !== report.periodEnd">- {{::report.periodEnd | amDateFormat:'DD MMMM'}}</span></small>
                    <small class="m-t-0">{{::'REPORTS.UPDATED' | translate }} {{::report.createdAt | amDateFormat:'DD MMMM'}}</small>
                </h2>
            </div>
        </div>
        <div class="pull-right">
            <div data-current-skin="{{::currentSocialNetwork.skin}}" class="badge m-l-10" data-ng-repeat="hashtag in report.hashtags">{{::hashtag}}</div>
        </div>
    </div>

    <div class="pl-body">
        <div uib-popover-template="'components/reports/templates/reports-types/post-info-popover.html'" popover-trigger="mouseenter" popover-placement="left" style="height: 135px;" class="col-xs-3 o-hidden" data-ng-repeat="post in report.posts">
            <a class="thumbnail" target="_blank" data-ng-href="{{::post.permalink}}"><img data-ng-src="{{::post.photo130}}" alt=""></a>
        </div>
    </div>
</div>