<div class="ilt-card picture-list">
    <div class="ilt-card-header ch-alt clearfix" data-ng-repeat="page in report.pages">
        <div class="media">
            <div class="pull-left" uib-popover-template="'components/reports/templates/reports-types/page-info-popover.html'" popover-trigger="mouseenter" popover-placement="left">
                <a class="thumbnail m-b-0" ui-sref="report({id: 'top-posts-in-' + page.id})">
                    <img data-ng-src="{{::report.photo50}}" alt="">
                </a>
            </div>

            <div class="media-body">
                <h2 class="f-500 pull-right">
                    <strong>{{::report.total}}</strong>
                    <small>{{::'REPORTS.POSTS' | translate}}</small>
                </h2>
                <h2>
                    <a data-current-text-skin="{{::currentSocialNetwork.skin}}" ui-sref="report({id: report.key})">{{::page.name}}: {{::'REPORTS.' + vm.getTranslateKey(report.key) + '.TITLE' | translate }}</a>
                    <small>{{::'REPORTS.UPDATED' | translate }}: {{::report.createdAt | amDateFormat:'DD MMMM'}}</small>
                </h2>
            </div>
        </div>
        <div class="pull-right">
            <div data-current-skin="{{::currentSocialNetwork.skin}}" class="badge m-l-10" data-ng-repeat="hashtag in report.hashtags">{{::hashtag}}</div>
        </div>
    </div>

    <div class="pl-body">
        <div uib-popover-template="'components/reports/templates/reports-types/post-info-popover.html'" popover-trigger="mouseenter" popover-placement="left" style="height: 135px;" class="col-xs-3 o-hidden" data-ng-repeat="post in report.posts">
            <a class="thumbnail" target="_blank" data-ng-href="{{::post.permalink}}"><img data-ng-src="{{::post.photo130}}" alt=""></a>
        </div>
    </div>
</div>