<div>
    <p>{{::'PAGES.UPDATED_AT' | translate}}: {{::item.followers.createdAt | amDateFormat:'DD.MM.YYYY'}}</p>
    <p>{{::'PAGES.TOTAL' | translate}}: <span>{{::item.followers.count | number}}</span></p>
    <p data-ng-if="::item.followers.dayChanges">{{::'PAGES.DAY_CHANGES' | translate}}: <span data-ng-class="{'c-red':item.followers.dayChanges < 0}">{{::item.followers.dayChanges | number}}</span></p>
    <p data-ng-if="::item.followers.weekChanges">{{::'PAGES.WEEK_CHANGES' | translate}}: <span data-ng-class="{'c-red':item.followers.weekChanges < 0}">{{::item.followers.weekChanges | number}}</span></p>
    <p data-ng-if="::item.followers.monthChanges">{{::'PAGES.MONTH_CHANGES' | translate}}: <span data-ng-class="{'c-red':item.followers.monthChanges < 0}">{{::item.followers.monthChanges | number}}</span></p>
</div>