<div>
    <p>{{::'PAGES.UPDATED_AT' | translate}}: {{::item.likes.createdAt | amDateFormat:'DD.MM.YYYY'}}</p>
    <p>{{::'PAGES.TOTAL' | translate}}: <span>{{::item.likes.count | number}}</span></p>
    <p data-ng-if="::item.likes.dayChanges">{{::'PAGES.DAY_CHANGES' | translate}}: <span data-ng-class="{'c-red':item.likes.dayChanges < 0}">{{::item.likes.dayChanges | number}}</span></p>
    <p data-ng-if="::item.likes.weekChanges">{{::'PAGES.WEEK_CHANGES' | translate}}: <span data-ng-class="{'c-red':item.likes.weekChanges < 0}">{{::item.likes.weekChanges | number}}</span></p>
    <p data-ng-if="::item.likes.monthChanges">{{::'PAGES.MONTH_CHANGES' | translate}}: <span data-ng-class="{'c-red':item.likes.monthChanges < 0}">{{::item.likes.monthChanges | number}}</span></p>
</div>