<div class="container c-alt ilt-container">

    <div class="block-header ilt-text">
        <h2>{{::'PAGES.PAGE_TITLE' | translate}} <small>{{::'PAGES.PAGE_DESCRIPTION' | translate}}</small></h2>
    </div>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped ilt-table">
                <thead>
                <tr>
                    <th class="p-l-10"></th>
                    <th class="ilt-name">{{::'PAGES.NAME' | translate}}</th>
                    <th>{{::'PAGES.FOLLOWERS_COUNT' | translate}}</th>
                    <th>{{::'PAGES.LIKES_COUNT' | translate}}</th>
                    <th>{{::'PAGES.REPORTS' | translate}}</th>
                    <th>{{::'PAGES.HASHTAGS' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in vm.data.items">
                    <td class="p-l-10"><a class="thumbnail m-b-0" target="_blank" data-ng-href="{{::item.permalink}}"><img data-ng-src="{{::item.photo50}}"></a></td>
                    <td class="ilt-name"><a target="_blank" data-ng-href="{{::item.permalink}}">{{::item.name}}</a></td>
                    <td class="ilt-count-info"><p uib-popover-template="'components/pages/templates/followers-count-popover.html'" popover-trigger="mouseenter">{{::item.followers.count | number}}<i class="zmdi zmdi-info-outline zmdi-hc-fw"></i></p></td>
                    <td class="ilt-count-info"><p data-ng-if="item.likes" uib-popover-template="'components/pages/templates/likes-count-popover.html'" popover-trigger="mouseenter">{{::item.likes.count | number}}<i class="zmdi zmdi-alert-circle-o zmdi-hc-fw"></i></p></td>
                    <td class="ilt-reports"><a uib-tooltip="{{::'REPORTS.' + vm.getTranslateKey(report.key) + '.TITLE' | translate}}" style="width: 58px" class="m-r-5 thumbnail" data-ng-repeat="report in item.reports" data-ui-sref="report({id: report.key})"><img data-ng-src="{{::report.photo50 }}" alt="{{::report.key}}"></a></td>
                    <td><div class="badge m-r-10" data-ng-repeat="hashtag in item.hashtags">{{::hashtag}}</div></td>
                    <td data-ng-if="!item.excludeFromReports && vm.isUserLoggedIn()">
                        <button style="font-size: 20px;"
                                class="btn btn-danger waves-effect col-md-1"
                                data-ng-click="vm.removePage(item)">
                        <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div paging
         page="vm.data.page"
         page-size="vm.data.pageSize"
         total="vm.data.total"
         sref="pages({ page: Item.value, pageSize: pageSize })">
    </div>

</div>

