@import "../../../lib/bootstrap/less/variables";
@import "variables";

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
    .list-unstyled();
    margin-left: -5px;

    > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.ilt-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 110px;
    color: #a2a2a2;
    padding-top: 35px;
    padding-bottom: 15px;
    
    .f-menu {
        display: block;
        width: 100%;
        .list-inline();
        margin-top: 8px;
        
        & > li > a {
            color: #a2a2a2;
            
            &:hover {
                color: #777;
            }
        } 
    }
} 

@media (min-width: @screen-md-max) {
    body.sw-toggled {
        .ilt-footer {
            padding-left: @sidebar-left-width; 
        }
    } 
}
