@import "../../../lib/bootstrap/less/mixins";
@import "../../../lib/bootstrap/less/variables";
@import "mixin";
@import "variables";

.ilt-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    z-index: 10;
    font-size: 14px;
    height: @header-height;

    .ilt-logo{
        top: -10px;
        display: inline-block;
        position: relative;

        a{
            color: @m-white;
        }
    }

    .ilt-change-sn{
        margin-top: 8px;
        display: inline-block;
    }

    @media (min-width: @screen-sm-min) {

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.04);
            width: 100%;
            height: 49px;
        }
    }

    .ilt-menu{
        max-width: 1170px;
        margin: auto;
    }
}

.ilt-menu {
    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;

        & > li {
            display: inline-block;
            vertical-align: top;

            @media (max-width: @screen-xs-max) {
                display: block;
            }

            &:not(.active) > *:not(ul) {
                color: rgba(255,255,255,0.6);
            }

            &.active > *:not(ul) {
                color: @m-white;
                box-shadow: inset 0px -3px 0 0 @m-white;

                @media (max-width: @screen-xs-max) {
                    display: block;
                }
            }

            & > *:not(ul) {
                text-transform: uppercase;
                padding: 13px 10px;
                display: block;
            }

            &.open > *:not(ul),
            & > *:not(ul):hover {
                color: @m-white;
            }

            .dropdown-menu {
                margin-top: -5px;
                min-width: 100%;
            }
        }
    }

    @media (max-width: @screen-xs-max) {
        width: 200px;
        position: absolute;
        top: 65px;
        left: 8px;
        box-shadow: 0 0 10px;
        z-index: 10;
        padding: 0 10px;

        &:not(.toggled) {
            display: none;
        }
    }
}
