@import "../../../lib/bootstrap/less/mixins";
@import "../../../lib/bootstrap/less/variables";
@import "mixin";
@import "variables";

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #7e7e7e;
    background-color: #e2e2e2;
    border: 1px solid #ffffff;
    margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 3;
    color: #333333;
    background-color: #d7d7d7;
    border-color: #ffffff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    background-color: @m-blue;
    cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #e2e2e2;
    border-color: #ffffff;
    cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.pagination {
    border-radius: 0;

    & > li {
        margin: 0 2px;
        display: inline-block;
        vertical-align: top;

        & > a,
        & > span {
            padding: 0;
            width: 40px;
            height: 40px;
            line-height: 39px;
            text-align: center;
            font-size: 14px;
            z-index: 1;
            position: relative;
            border: 0;

            & > .zmdi {
                font-size: 22px;
                line-height: 40px;
            }

            .hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
        }

        &.disabled {
            .opacity(0.5);
        }
    }
}

/*
 * Listview Pagination
 */
.lv-pagination {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid #F0F0F0;
    margin-top: 0;
    margin-bottom: 0;
}

/*
 * Pager
 */
.pager li > a, .pager li > span {
    padding: 5px 10px 6px;
    color: @pagination-color;
}
