@import "../../../lib/bootstrap/less/mixins";
@import "../../../lib/bootstrap/less/variables";
@import "mixin";
@import "variables";

.ss-skin {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    
    &:hover {
        .opacity(0.8);
    }
}
.current-skin(@color) {
    background-color: @color;
    
    .ss-icon { color: @color; }
    
    .ha-menu {
        @media (max-width: @screen-xs-max) {
            background: @color;
        }
    }
}

.current-text-skin(@color){
    color: @color;
}

[data-current-skin="lightblue"] { .current-skin(@m-lightblue); }
[data-current-skin="bluegray"] { .current-skin(@m-bluegray); }
[data-current-skin="blue"] { .current-skin(@m-blue); }
[data-current-skin="purple"] { .current-skin(@m-purple); }
[data-current-skin="orange"] { .current-skin(@m-orange); }
[data-current-skin="cyan"] { .current-skin(@m-cyan); }
[data-current-skin="green"] { .current-skin(@m-green); }
[data-current-skin="teal"] { .current-skin(@m-teal); }
[data-current-skin="pink"] { .current-skin(@m-pink); }

[data-current-text-skin="lightblue"] { .current-text-skin(@m-lightblue); }
[data-current-text-skin="bluegray"] { .current-text-skin(@m-bluegray); }
[data-current-text-skin="blue"] { .current-text-skin(@m-blue); }
[data-current-text-skin="purple"] { .current-text-skin(@m-purple); }
[data-current-text-skin="orange"] { .current-text-skin(@m-orange); }
[data-current-text-skin="cyan"] { .current-text-skin(@m-cyan); }
[data-current-text-skin="green"] { .current-text-skin(@m-green); }
[data-current-text-skin="teal"] { .current-text-skin(@m-teal); }
[data-current-text-skin="pink"] { .current-text-skin(@m-pink); }