<div>

    <div class="block-header p-l-0">
        <h2>{{::'REPORTS.' + vm.data.translateKey + '.TITLE' | translate }} <small>{{::'REPORTS.' + vm.data.translateKey + '.DESCRIPTION' | translate }}</small></h2>
    </div>

    <div class="ilt-card card">
        <div class="table-responsive">
            <table class="table table-striped ilt-table">
                <thead>
                <tr>
                    <th>{{::'PAGE.TOP' | translate}}</th>
                    <th class="p-l-10"></th>
                    <th class="ilt-name">{{::'PAGE.NAME' | translate}}</th>
                    <th>{{::'PAGE.FOLLOWERS_COUNT' | translate}}</th>
                    <th>{{::'PAGE.LIKES_COUNT' | translate}}</th>
                    <th>{{::'PAGE.REPORTS' | translate}}</th>
                    <th>{{::'PAGE.HASHTAGS' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in vm.data.pages">
                    <td>
                        <strong>{{::item.top}}</strong>
                        <small data-ng-if="::item.topChanges>0" class="c-green">(+{{::item.topChanges}})</small>
                        <small data-ng-if="::item.topChanges<0" class="c-red">({{::item.topChanges}})</small>
                    </td>
                    <td class="p-l-10"><a class="thumbnail m-b-0" target="_blank" data-ng-href="{{::item.permalink}}"><img data-ng-src="{{::item.photo50}}"></a></td>
                    <td class="ilt-name"><a target="_blank" data-ng-href="{{::item.permalink}}">{{::item.name}}</a></td>
                    <td class="ilt-count-info"><p uib-popover-template="'components/pages/templates/followers-count-popover.html'" popover-trigger="mouseenter">{{::item.followers.count | number}}<i class="zmdi zmdi-info-outline zmdi-hc-fw"></i></p></td>
                    <td class="ilt-count-info"><p data-ng-if="item.likes" uib-popover-template="'components/pages/templates/likes-count-popover.html'" popover-trigger="mouseenter">{{::item.likes.count | number}}<i class="zmdi zmdi-alert-circle-o zmdi-hc-fw"></i></p></td>
                    <td class="ilt-reports"><a uib-tooltip="{{::'REPORTS.' + vm.getTranslateKey(report.key) + '.TITLE' | translate}}" style="width: 58px" class="m-r-5 thumbnail" data-ng-repeat="report in item.reports" data-ui-sref="report({id: report.key})"><img data-ng-src="{{::report.photo50 }}" alt="{{::report.key}}"></a></td>
                    <td><div class="badge m-r-10" data-ng-repeat="hashtag in item.hashtags">{{::hashtag}}</div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12" paging
         page="vm.data.page"
         page-size="vm.data.pageSize"
         total="vm.data.total"
         custom-param1 = "vm.data.key"
         sref="report({id: customParam1, page: Item.value, pageSize: pageSize })">
    </div>

</div>