<div>
    <div class="block-header p-l-0">
        <h2>{{::'REPORTS.TOP_POSTS_PER.TITLE' | translate}}:

            <strong data-ng-if="::vm.data.periodStart === vm.data.periodEnd" class="m-l-10">{{::vm.data.periodStart | amDateFormat:'DD MMMM YYYY'}}</strong>
            <strong data-ng-if="::vm.data.periodStart !== vm.data.periodEnd" class="m-l-10">{{::vm.data.periodStart | amDateFormat:'DD MMMM YYYY'}} - {{::vm.data.periodEnd | amDateFormat:'DD MMMM YYYY'}}</strong>

            <a style="font-size: 20px;" class="btn btn-primary" ui-sref="report({id: vm.data.key, page: 1, pageSize: vm.data.pageSize, periodsAgo: vm.periods.prev})" data-ng-if="vm.periods.hasPrev"><i class="zmdi zmdi-arrow-back"></i></a>
            <a style="font-size: 20px;" class="btn btn-primary" ui-sref="report({id: vm.data.key, page: 1, pageSize: vm.data.pageSize, periodsAgo: vm.periods.next})"><i class="zmdi zmdi-arrow-forward"></i></a>
        </h2>
    </div>

    <div class="p-b-20" style="max-width: 700px;" data-ng-repeat="post in vm.data.posts">
        <button data-ng-if="vm.isUserLoggedIn()"
                style="font-size: 20px;"
                class="btn btn-danger waves-effect pull-right"
                data-ng-click="vm.removePost(post)">
            <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
        </button>

        <div id="vk_post_-{{post.page.id}}_{{post.id}}" vk-post></div>
    </div>


    <div class="col-md-12"
         paging
         page="vm.data.page"
         page-size="vm.data.pageSize"
         total="vm.data.total"
         custom-param1 = "vm.data.key"
         custom-param2= "vm.periods.current"
         sref="report({id: customParam1, page: Item.value, pageSize: pageSize, periodsAgo: customParam2 })">
    </div>
</div>