<div class="ilt-text">
    <div class="block-header p-l-0">
        <h2>{{::vm.data.pages[0].name}} <small>{{::'REPORTS.TOP_POSTS_IN.DESCRIPTION' | translate}}</small></h2>
    </div>

    <div class="p-b-20" style="max-width: 700px;" data-ng-repeat="post in vm.data.posts">
        <button data-ng-if="vm.isUserLoggedIn()"
                style="font-size: 20px;"
                class="btn btn-danger waves-effect pull-right"
                data-ng-click="vm.removePost(post)">
            <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
        </button>

        <div id="vk_post_-{{post.page.id}}_{{post.id}}" vk-post></div>
    </div>

    <div class="col-md-12" paging
         page="vm.data.page"
         page-size="vm.data.pageSize"
         total="vm.data.total"
         custom-param1 = "vm.data.key"
         sref="report({id: customParam1, page: Item.value, pageSize: pageSize })">
    </div>
</div>