@import '../../../components/shared/less/text';

.ilt-table{
  .ilt-text;

  .ilt-reports{
    display: inline-flex;
  }

  .ilt-count-info{
    min-width: 120px;
  }

  .thumbnail{
    margin-bottom: 0;
  }

  tbody{
    .ilt-name{
      font-size: 12px;
    }
  }

  thead{

    .ilt-name{
      min-width:120px;
    }

    tr{
      th{
        text-transform: none;
        text-align: center;
      }
    }
  }
}